<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harmony Club - Aktiviteter</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <nav>
           <h1>Harmony Club</h1>
          <ul>
            <li><a href="/start">Hem</a></li>
            <li><a href="/member">Medlemslista</a></li>
            <li><a href="/forum">Medlemskap</a></li>
            <li><a href="/activity">Aktiviteter</a></li>
          </ul>
        </nav>
    </header>
      
    <h2>Aktiviteter</h2>
    
    <div class="activity">
        <img src="/pic/movie.jpeg" alt="Activity 1">
        <h3>Film klubb</h3>
        <p>Filmvisning och diskussion: Våra filmvisningar är ett utmärkt tillfälle att njuta av intressanta filmer och samtidigt delta i meningsfulla diskussioner. Vi visar ett brett utbud av filmer från olika genrer och kulturer för att tillgodose olika smaker. Efter visningen erbjuder vi en diskussionsplattform där deltagarna kan uttrycka sina åsikter, analysera teman och utbyta tankar och idéer med varandra. Det är en givande aktivitet för alla filmälskare och de som är intresserade av att utforska filmens värld.</p>
    </div>
    
    <div class="activity">
        <img src="/pic/konst.jpeg" alt="Activity 2">
        <h3>Konstverkstad</h3>
        <p> Konstverkstad: Vår konstverkstad är en kreativ och inspirerande aktivitet för alla konstentusiaster. Här får du möjlighet att utforska olika konstnärliga tekniker och uttryckssätt under ledning av erfarna konstnärer. Vi erbjuder en välutrustad verkstad med olika material, färger och verktyg för att du ska kunna ge liv åt dina kreativa idéer.</p>
    </div>
    
    <div class="activity">
        <img src="/pic/dans.jpeg" alt="Activity 3">
        <h3>Dansworkshop</h3>
        <p>Vår dansworkshop är en spännande aktivitet där deltagarna får möjlighet att utforska olika dansstilar och utveckla sina rörelsefärdigheter. Oavsett om du är nybörjare eller erfaren dansare, kommer våra professionella instruktörer att guida dig genom olika tekniker och koreografier. Det är ett perfekt tillfälle att uttrycka dig själv genom dans och samtidigt ha roligt och träffa likasinnade personer.</p>
    </div>
    
    <div class="activity">
        <img src="/pic/fotball.jpeg" alt="Activity 4">
        <h3>fotbollsmatch</h3>
        <p>Vår fotbollsmatch är en energisk och spännande aktivitet för alla fotbollsälskare. Oavsett om du är en erfaren spelare eller nybörjare, är detta ett perfekt tillfälle att delta i en match, förbättra dina fotbollsfärdigheter och ha kul med andra deltagare. Vi organiserar regelbundet matcher där du kan delta i lag och njuta av spänningen i att spela fotboll. Det är även ett utmärkt tillfälle att bygga kamratskap och stärka samarbetsförmågan genom lagarbete. Kom och delta i våra fotbollsmatcher för att uppleva glädjen och passionen för denna populära sport.</p>
    </div>
    
</body>
<footer>
    <div class="contact-info">
        <p>Adress: Harmony Club, Storgatan 10, 123 45 Stockholm</p>
        <p>Telefon: 08-123 456 78</p>
        <p>E-post: <a href="mailto:info@harmonyclub.com">info@harmonyclub.com</a></p>
        <p>Hemsida: <a href="http://www.harmonyclub.com">www.harmonyclub.com</
