<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harmony Club</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <nav>
           <h1>Harmony Club</h1>
          <ul>
            <li><a href="/start">Hem</a></li>
            <li><a href="/member">medlems lista</a></li>
            <li><a href="/forum">Medlemskap</a></li>
            
            <li><a href="/acticiy">Aktiviteter</a></li>
          </ul>
        </nav>
      </header>
      
      
      <div class="main-content">
        <div class="article">
            <h2>Välkommen till Harmony Club</h2>
            <p>"Harmony Club" är en social klubb som är dedikerad till att främja vänskap, gemenskap och harmoni bland sina medlemmar. Klubben har en mångfald av medlemmar, inklusive yrkesverksamma, studenter, pensionärer och andra från olika samhällsskikt som delar ett gemensamt intresse för social samvaro och att bygga relationer.</p>
        </div>
        
     
        
        <div class="article">
            <h2>Evenemang och aktiviteter</h2>
            <p>Klubben organiserar olika evenemang och aktiviteter under året, inklusive sociala sammankomster, kulturella utflykter, välgörenhetsinsamlingar och samhällstjänstprojekt. Medlemmar kan delta i dessa evenemang och aktiviteter för att träffa nya människor, ha roligt och bidra till samhället.</p>
        </div>
        
        
        
        <div class="article">
            <h2>Skapa nya kontakter</h2>
            <p>En av de viktigaste fördelarna med medlemskap i Harmony Club är möjligheten att skapa kontakter med andra som delar liknande intressen och värderingar. Medlemmar kan bilda nya vänskapsrelationer och utöka sitt sociala nätverk, vilket kan vara särskilt värdefullt för dem som är nya i området eller vill träffa nya människor.</p>
        </div>
</body>
<footer>
    <div class="contact-info">
      <p>Adress: Harmony Club, Storgatan 10, 123 45 Stockholm</p>
      <p>Telefon: 08-123 456 78</p>
      <p>E-post: <a href="mailto:harmonyclub@email.com">harmonyclub@email.com</a></p>
      <p>Hemsida: <a href="http://www.harmonyclub.com">www.harmonyclub.com</a></p>
    </div>
  </footer>
  
</html>